html { margin-left: calc(100vw - 100%); }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

div.flex {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

div.row { flex-direction: row; }
div.col { flex-direction: column; }
div.left { 
  justify-content: flex-start; 
  align-items: flex-start;
  text-align: left; 
}
div.stretch { 
  justify-content: stretch; 
  align-items: stretch;
  text-align: left; 
}
div.right { 
  justify-content: flex-end; 
  align-items: flex-end;
  text-align: right; 
}


div.fullwidth {
  width: 100%;
}

div.card {
  padding: 12px;
  border-radius: 8px;
  background-color: #1E1E1E;
  position: relative;
  overflow: hidden;
}

.MuiDivider-fullWidth {
  width: 100%;
}

:root {
  color-scheme: dark;
}